asgiref==3.5.0
beautifulsoup4==4.11.0
cssselect==1.1.0
Django==4.0.3
django-ckeditor==6.3.0
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-social-share==2.2.1
lxml==4.8.0
markdown2==2.4.2
Pillow==9.1.0
pyquery==1.4.3
readtime==1.1.1
soupsieve==2.3.2
sqlparse==0.4.2
tzdata==2022.1
