{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'blogapp/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blogapp/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blogapp/article.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blogapp/about.css' %}">

  {% if title %}
    <title> FREEBIES - {{ title }}</title>
  {% else %}
    <title> FREEBIES </title>
  {% endif %}


</head>
  <body>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blogapp-home' %}"> FREEBIES </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blogapp-home' %}">Home</a>
              <!-- <a class="nav-item nav-link" href="{% url 'blogapp-about' %}">About</a> -->
            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">

              <form class="form-inline my-2 my-lg-0" action="/post/search/" method="get">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search </button>
              </form>

              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3> Browse FreeBies </h3> <hr>
            <p class='text-muted'>Here is some more from us
              <ul class="list-group">
                {% if user.is_authenticated %}
                <li class="list-group-item list-group-item-light"> <a href="{% url 'post-category' %}"> Add Category </a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'post-originals' %}"> Original Posts </a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'blogapp-about' %}"> About Us </a></li>

                {% else %}
                <li class="list-group-item list-group-item-light"> <a href="{% url 'post-originals' %}"> Original Posts </a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'blogapp-about' %}"> About Us </a></li>
                {% endif %}

              </ul>
            </p>
          </div>
        </div>
      </div>

    </main>


      <main role="main" class="container">
          <div class="row">
            <div class="col-md-8">

              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
              </div>
            </div>
        </main>


        <!--- FOOTER -------------------------------------->
          <footer class="footer footer-expand-md footer-dark">
            <div class="container">
              <div class="row mb-5">
                <div class="col-3">
                    <div class="link-cat" >
                        <span class="footer-cat">FreeBies</span>
                    </div>

                    <ul class="footer-cat-links">
                        <li><a href="{% url 'blogapp-about' %}"><span>About Us</span></a></li>
                        <!-- <li><a href=""><span> Our Services</span></a></li>
                        <li><a href=""><span>Privacy Policy</span></a></li> -->
                    </ul>
                </div>
                <div class="col-3">
                    <div class="link-cat" >
                        <span class="footer-cat">Get Support</span>
                    </div>
                    <ul class="footer-cat-links">
                        <li><a href=""><span>Need any help</span></a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="link-cat" >
                        <span class="footer-cat">Blogs</span>
                    </div>
                    <ul class="footer-cat-links">
                        <li><a href="{% url 'blogapp-home' %}"><span>Categories</span></a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="link-cat" >
                        <span class="footer-cat">Follow Us</span>
                    </div>
                    <div class="social-links social-1 col-sm">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/Stephen_Hound?t=PCNvLkVSwogQ37ygzolfdg&s=03"><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

           </div>

           <div id="copyright"><strong>
               &copy; 2022 Copyright:
               </strong>
           </div>
           <div id="owner">
               <span>
                   <a href="{% url 'blogapp-about' %}"><strong> FREEBIES </strong></a>
               </span>
           </div>
            </div>
           </footer>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
