{% extends "blogapp/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}"><strong>{{ object.author }}</strong></a>
        <small class="text-muted"><strong>{{ object.date|date:"F d, Y" }}</strong></small>

        <!-- To update and delete posts -->
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update </a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete </a>
          </div>
        {% endif %}

      </div>
      <h2 class="article-title">{{ object.title }}</h2> <br>

      {% if object.image %}

        <img style='height: 100%; width: 100%; object-fit: contain' src="{{ object.image.url }}">
      {% endif %}

      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>

  <!-- like and Unlike -->
<br><hr>

<!-- {% if user.is_authenticated %} -->
  <form action="{% url 'post-like' object.id %}" method="POST">
	{% csrf_token %}

	{% if liked %}
	<button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger">Unlike</button>
	{% else %}
	<button type="submit" name="post_id" value="{{post.id}}" class="btn btn-info">Like</button>
	{% endif %}
  </form>
<!-- {% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
{% endif %} -->
<strong class="text-secondary">{{ total_likes }} Like{{ total_likes|pluralize }}</strong>


<hr>
<h5> Comments </h5>

{% if not post.comments.all %}
  No Comments Yet. <br>
  <a href="{% url 'post-comment' post.pk %}"> Add A Comment </a>
{% else %}
<a href="{% url 'post-comment' post.pk %}"> Add Comment </a> <br><hr>
  {% for comment in post.comments.all %}
    <strong>
      {{ comment.name }} -
      {{ comment.date_added }}
    </strong>
    <br>
    {{ comment.body }} <br> <hr>
  {% endfor %}
{% endif %}
<br><br>



{% endblock content %}
