{% extends "blogapp/base.html" %}
{% block content %}
{% load crispy_forms_tags %}


  {%if q%}
  <h3>
    Posts That Have "{{ q }}"

    {% if c %}
      In Category "{{ c }}"
    {% endif %}
  </h3>

  <p>
    {% with results.count as total_results %}
    Found {{ total_results }} result {{ total_results|pluralize }}
    {% endwith %}
  </p>


  {% for post in results %}

  <article class="media content-section">
    <img class="rounded-circle article-img"  src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata"> By
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted"><strong>{{ post.date|date:"F d, Y" }}</strong></small>
      </div>
      <p class="text-muted">{{ post.get_readtime}} read</p>
      <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>

      {{ post.snippet }}

    </div>

  {% empty %}
  <p> Sorry. There are no results for your search. </p>
  {% endfor %}

  </article>

  <a href="{% url 'post-search' %}" class="btn btn-primary mt-3" type="submit" aria-disabled="true"> New Search </a>

  {% else %}


  <form class="search" method="get">
    {% csrf_token %}
    <fieldset class = "form-group">
      <legend class ="border-bottom mb-4"><b> Search A Post </b></legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button href="{% url 'post-search' %}" class="btn btn-primary" type="submit"> Search </button>
    </div>
  </form>



  {%endif%}

{% endblock content %}
