html{
  height: 100%;
}
body {
  /* background: url(../images/book.jpg); */
  background-color: rgba(53, 81, 120, 0.322);
  color: #333333;
  margin-top: 5rem;
  width: 100%;
  position: relative;
  min-height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  /* background-color: #48664e; */
  background-color: rgb(18, 48, 89);
}

.site-header .navbar-nav .nav-link {
  color: #f0f3f5;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  flex: 1 0 auto;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  /* height: 65px;
  width: 65px;
  object-fit: contain;
  margin-right: 16px;
  width: 200px;
  height: 300px;
  object-fit: contain; */
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.media{
  /* background-color: blueviolet; */
  /* background: url(../images/pen.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.btn{
  background-color: rgb(0, 153, 255);
  border: none;
  color: white;
}

.btn-update .btn-delete:hover{
  background-color: aqua;
}

.searchBar {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInput {
  /* width: 100%; */
  height: 2.5rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.searchSubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.searchSubmit:hover {
  cursor: pointer;
}